<h1>Articles Listing Page</h1>


<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Description</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @articles.each do |article| %>
		<tr>
			<td><p> <%= article.title %> </p></td>
			<td><p> <%= article.description %> </p></td>
			<td><p> Placeholder </p></td>
		</tr>
		<% end %>
	</tbody>
</table>
