<br>
<div class="container">
	<h3>Showing article details</h3>

	<p><strong>Title: <%= @article.title %> </strong></p>
	<p><strong>Description: <%= @article.description %> </strong></p>
	<br>
	<button type="button" class="btn btn-sm btn-outline-primary">
		<%= link_to 'Back', articles_path %>
	</button>
	|
	<button type="button" class="btn btn-sm btn-outline-danger"> 
		<%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: "Are you sure?" }  %> 
	</button>
</div>