<div class="container">
	<h3>This is the About page!</h3>

	<p> 
		<%= link_to 'Articles Page', articles_path, class:"btn btn-primary btn-sm" %> |
		<%= link_to 'Home page', root_path, class:"btn btn-primary btn-sm" %> 
	</p>
	
</div>