@import 'bootstrap/dist/css/bootstrap';

.navbar {
background-color: LightGray !important;
}
 
.navbar-brand {
font-size: 3rem;
}
 
h1 {
color: blue;
}

.custom-txt-bl {
	color: blue;
}

.custom-txt-orange {
	color: #ff3300;
}

.custom-bg-img {
	background-image: url('16.jpg');
}